body{
    background-color: #1d1d23;
    font-family: 'Metal-Menia', cursive;
}
a{
    text-decoration: none;
    color: #e58f00;
}
.navbar{
    z-index: 9999;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.navbar-collapse{
    flex-grow:0;
}
#banner{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(to bottom, rgba(23, 23, 35, 0.9), rgba(23, 23, 35, 0.8)), 
                    url('../assets/img/banner-bottom.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    margin-top: -6.5rem;
}
#banner img{
    height: 100%;
    width: 100%;
}

#banner .banner-heading{
    font-size: 4rem;
    color: #e58f00;
    font-weight: 700ss;
}

#banner .banner-brief{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding-right: 5rem;
}

#banner .btn_default{
    font-size: 1.2rem;
    font-weight: 800;
    padding: .75rem 1rem;
    color: #222;
    background-color: #e58f00;
    border-color: #e58f00;
}

#about{
    padding: 7rem 0;
    color: #fff;
}

#about .about-heading{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: rgb(229, 143, 0);
}

#about .about-brief{
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 5rem;
}

#quality{
    background: linear-gradient(to bottom, rgba(229, 130, 0, 0.9), rgba(229,143,0,0.9));
    min-height: 100vh;
    padding: 7rem 0;
}

#quality .quality-heading{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 6rem;
    color: #fff;
}

#quality .quality-brief{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    padding-left: 6rem;
    color: #fff;
}

.br-1{
    border-right: 3px solid #fff;
}

#gallery{
    padding-top: 4rem;
    padding-bottom: 7rem;
    min-height: 100vh;
}

#gallery .gallery-heading{
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 4rem;
}

#enjoy{
    background: url('../assets/img/food-bg.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#enjoy .enjoy-food{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border: 5px solid #e58f00;
    background: rgba(29, 29, 35, 0.8);
    padding: 3rem;
    text-align: center;
}

#enjoy .enjoy-heading{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#enjoy .enjoy-brief{
    font-size: 1.5rem;
    font-weight: 500;
}

#menu{
    padding: 7rem;
    min-height: 100vh;
}

#menu .menu-header{
    color: #e58f00;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-align: center;
}

#menu .menu-box img{
    width: 100%;
    margin-bottom: 1rem;
}

#menu .menu-heading{
    color: #e58f00;
    font-weight: 600;
    text-transform: uppercase;
}

#menu .menu-brief{
    color: #fff;
    font-size: .875rem;
    font-weight: 500;
}

#menu .menu-price{
    color: #e58f00;
    font-size: 1.25rem;
    font-weight: 800;
}

